#########################################################
### Logging Level Configuration
#########################################################
LOG_LEVEL=DEBUG
VERBOSE=true
LOG_DIR=/home/xxx/.lightrag/logs

###########################
### Server Configuration
###########################
HOST=192.168.5.100
PORT=9621
WORKERS=4
TIMEOUT=30000
INPUT_DIR=/home/xxx/.lightrag/inputs
WORKING_DIR=/home/xxx/.lightrag/storage

#########################################################
### Reranking Configuration
#########################################################
RERANK_BINDING=cohere
RERANK_MODEL=text-embedding-bge-reranker-v2-m3:2
RERANK_BINDING_HOST=http://192.168.5.11:1234/v1/rerank
RERANK_BINDING_API_KEY="LM studio"
MIN_RERANK_SCORE=0.2
RERANK_BY_DEFAULT=false

########################################
### Document Processing Configuration
########################################
ENABLE_LLM_CACHE_FOR_EXTRACT=true
SUMMARY_LANGUAGE=English

###############################
### Concurrency Configuration
###############################
MAX_ASYNC=4
MAX_PARALLEL_INSERT=2

###########################################################################
### LLM Configuration
###########################################################################
LLM_TIMEOUT=30000
LLM_BINDING=openai
LLM_BINDING_HOST=http://192.168.5.11:11434/v1
LLM_BINDING_API_KEY='ollama'
LLM_MODEL=qwen3:4b

#######################################################################################
### Embedding Configuration
#######################################################################################
EMBEDDING_TIMEOUT=30000
EMBEDDING_BINDING=openai
EMBEDDING_BINDING_HOST=http://192.168.5.11:11434/v1
EMBEDDING_BINDING_API_KEY='ollama'
EMBEDDING_MODEL=nomic-embed-text-v2-moe:latest
EMBEDDING_DIM=768
EMBEDDING_TOKEN_LIMIT=8192
EMBEDDING_SEND_DIM=false

####################################################################
### WORKSPACE Configuration
####################################################################
#WORKSPACE=

############################
### Data Storage Configuration
############################
LIGHTRAG_KV_STORAGE=JsonKVStorage
LIGHTRAG_DOC_STATUS_STORAGE=JsonDocStatusStorage
LIGHTRAG_GRAPH_STORAGE=NetworkXStorage
LIGHTRAG_VECTOR_STORAGE=NanoVectorDBStorage

